.BoxContainer {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BoxContainer svg {
    font-size: 100px;
    color: #1976d2;
}

.BoxContainer>p {
    font-size: 20px;
}

.BoxContainer>a {
    background-color: #1976d2;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}