.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-second {
    margin-top: 30px;
    height: 450px;
    width: 90%;
    border: 2px solid #e2dada;
    border-radius: 20px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f2f2f2 38%, #f2f2f2 40%, #e5e5e5 48%);
    animation: load 2s infinite;
    background-size: 200% 100%;
    background-position: 100% 0;
}

.box-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0;
}

.box-third1,
.box-third2,
.box-third3 {
    width: 150px;
    height: 150px;
    border: 2px solid #e2dada;
    border-radius: 10px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f2f2f2 38%, #f2f2f2 40%, #e5e5e5 48%);
    animation: load 2s infinite;
    background-size: 200% 100%;
    background-position: 100% 0;

}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

@media screen and (max-width: 850px) {
    .box-second {
        height: 300px;
    }

    .box-third2 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .box-second {
        height: 250px;
    }

    .box-third3 {
        display: none;
    }
}