.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.Reviews>p {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 250px;
    color: #1f138b;
    border-bottom: 2px solid #1f138b;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
}

.reviewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 2px solid #878787;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.reviewBox1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.reviewBox .comment {
    overflow: auto;
}

.reviewBox>p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
}